<!DOCTYPE html>
<html lang="en">
<head>
  <title>Detalle del Producto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <h1>Detalles del Producto</h1>
  <div class="row">
    <div class="col-sm-6" style="background-color: #dff0d8;padding-left: 75px;padding-right: 0px;text-align: center">
      <img src="...\cafeteraFrancesa.jpg" alt="Producto" style="width: 400px" > 
    </div>

    <div class="col-sm-6" style="background-color: #dff0d8;height: 400px;">
      <h1 style=" margin-top: 0px; margin-bottom: 0px ">
        <font size="10">Nombre del Producto</font>
      </h1>
      <h1 style="margin-top: 0px; margin-bottom: 0px ">
        <font size="3"> Descripcion corta del producto</font>         
      </h1>
      <h1 style="margin-top: 0px; margin-bottom: 0px ">
        <font size="3">origen,sabor,peso,cafetera</font>
      </h1>
      <h1 style="margin-top: 0px; margin-bottom: 0px "> 
        <font size="3">Precio: $9000</font>
      </h1>
      <div class="row"></div>
        <div class="col-sm-6" style="background-color: #dff0d8;">
          <h1 style="margin-top: 0px; margin-bottom: 0px ">
            <font size="3">(precio Oferta)</font>
          </h1>
          <h1 style="margin-top: 0px; margin-bottom: 0px ">
            <font size="5">cantidad</font>
          </h1>
        </div>
        <div class="col-sm-6" style="background-color: #dff0d8;">
          <h1  style="margin-top: 0px; margin-bottom: 0px ">
            <font size="5">molineada</font>
          </h1>
        </div>
    </div>
  </div>
  <div class="row" style="padding-top: 20px;padding-bottom: 20px;background-color: #dff0d8;text-align: center">
    <div class="col-sm-2" >
      <img src="...\cafeteraFrancesa.jpg" alt="Producto" style="width: 150px" > 
    </div>
    <div class="col-sm-2">
      <img src="...\cafeteraFrancesa.jpg" alt="Producto" style="width: 150px" > 
    </div>
    <div class="col-sm-2">
      <img src="...\cafeteraFrancesa.jpg" alt="Producto" style="width: 150px" > 
    </div>
    <div class="col-sm-6">
      <h1 style=" margin-top: 0px; margin-bottom: 0px ">
        <font size="2" >Nombre del Producto</font>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="background-color: #dff0d8;">
      <h1 style=" margin-top: 0px; margin-bottom: 0px ">
        <font size="2" >Detalle del Producto</font>
      </h1>
      <h1 style=" margin-top: 0px; margin-bottom: 0px ">
        <font size="2" >Está elaborado con los granos más selectos de Brasil de características suaves pero de sabor exquisito, fina calidad, y aspecto cremoso, apto para disfrutarlo en todo momento. Tiende a producir una taza de café con más sabor a fruta y más ácida que otras variedades cultivadas en Brasil.</font>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="background-color: #dff0d8;text-align: center">
      <h1 style=" margin-top: 0px; margin-bottom: 0px ">
        <font size="5" >Otros clientes se interesaron por:</font>
      </h1>
      <div class="row" style="padding-top: 20px;padding-bottom: 20px;background-color: #dff0d8;text-align: center">
        <div class="col-sm-3" >
          <h1 style=" margin-top: 0px; margin-bottom: 0px;text-align: center ">
            <font size="8" ><</font>
          </h1>
        </div>
        <div class="col-sm-2" >
          <img src="...\cafeteraFrancesa.jpg" alt="Producto" style="width: 150px" > 
          <h1 style=" margin-top: 0px; margin-bottom: 0px ">
            <font size="2" >Descripcion corta del producto y precio</font>
          </h1>
          <h1 style=" margin-top: 0px; margin-bottom: 0px ">
            <font size="4" >Agrega al carrito</font>
          </h1>
        </div>
        <div class="col-sm-2">
          <img src="...\cafeteraFrancesa.jpg" alt="Producto" style="width: 150px" > 
          <h1 style=" margin-top: 0px; margin-bottom: 0px ">
            <font size="2" >Descripcion corta del producto y precio</font>
          </h1>
          <h1 style=" margin-top: 0px; margin-bottom: 0px ">
            <font size="4" >Agrega al carrito</font>
          </h1>
        </div>
        <div class="col-sm-2">
          <img src="...\cafeteraFrancesa.jpg" alt="Producto" style="width: 150px" > 
          <h1 style=" margin-top: 0px; margin-bottom: 0px ">
            <font size="2" >Descripcion corta del producto y precio</font>
          </h1>
          <h1 style=" margin-top: 0px; margin-bottom: 0px ">
            <font size="4" >Agrega al carrito</font>
          </h1>
        </div>  
        <div class="col-sm-3" >
          <h1 style=" margin-top: 0px; margin-bottom: 0px;text-align: center ">
            <font size="8" >></font>
          </h1>
        </div>  
      </div>

    </div>
  </div>
  <div class="row" style="padding-top: 20px;padding-bottom: 20px;background-color: #dff0d8;text-align: center">
    <div class="col-sm-4" >
      <h1 style=" margin-top: 0px; margin-bottom: 0px ">
        <font size="5" >Sobre nosotros</font>
      </h1>
    </div>
    <div class="col-sm-4">
      <h1 style=" margin-top: 0px; margin-bottom: 0px ">
        <font size="5" >Seguinos en las redes</font>
      </h1>
    </div>
    <div class="col-sm-4">
      <h1 style=" margin-top: 0px; margin-bottom: 0px ">
        <font size="5" >Contactos</font>
      </h1>
    </div>
  </div>
</div>


</body>
</html>
