<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https: //fonts.googleapis.com/css2? family = Gowun + Batang & display = swap " rel=" stylesheet ">
    <link rel="stylesheet" href="/css/error_404.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <title>Error -Arte café</title>
</head>
<header>
    <a href="/"><img class="home" src="/views/home.html" alt="" /></a>
    <div class="svg">
        <img src="" alt="">


        <div class="error">
            <h2>Oops!</h2>
            <h2>Esta página no fuciona.</h2>
            <h1>404</h1>
            <p>Estamos trabajando para resolverlo.</p>

        </div>

</header>

<body>

    <a href="https://wa.me/541161031216" class="whatsapp" target="_blank"> <i
            class="fa fa-whatsapp whatsapp-icon"></i></a>


    <div class="btn-flotante">
        <a class="btn-flotantes" href="/">Volver a Arte café</a>
    </div>


</body>

</html>