<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/z-imagenes/iconos/icocno_cora.png" type="image/x-icon">
    <link rel="stylesheet" href="css/error_404.css">
    <title>Error</title>
</head>
<body>
    <section class="error">
        <section class="error_container">
            <a href="#"><img class="logo" src="img/z-imagenes/iconos/logo.png" alt=""></a>
            <p class="mensage">Página no encontrada</p>
            <img src="img/z-imagenes/iconos/404.png" alt="">
        </section>
    </section>
    <section>
        <h1 class="">0pp!</h1>
        <H2>No encontramos lo que buscás</H2>
    </section>
    <section>
        <a class="boton" href="/views/home.html" target="_blank">Volver a la página</a>
    </section>
</body>
</html>