<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https: //fonts.googleapis.com/css2? family = Gowun + Batang & display = swap " rel=" stylesheet ">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <title>Error -Arte café</title>
</head>
<body>
    <header>
        <section class="marquee">
            <MARQUEE DIRECTION= right class="envio"> Envío bonificado a partit de $3500 <i class="fas fa-truck"></i></MARQUEE>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fas fa-envelope-open-text"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fas fa-mobile-alt"></i></i></a>
          </div>
        </section>
        <section class="header_container">
                <a href="#" class="logo"><i class="fas fa-mug-hot"></i>Arte Café</a>
        
                <nav class="navbar">
                    <a class="active" href="#home">Home</a>
                    <a href="#nosotros">Sobre nosotros</a>
                    <a href="#gallery">Galeria</a>
                    <a href="#products">Productos</a>
                    <a href="#cursos">Cursos</a>
                    <a href="#online">Compra online</a>
                </nav>
        
                <div class="icons">
                    <i class="fas fa-bars" id="menu-bars"></i>
                    <i class="fas fa-search" id="search-icon"></i>
                    <a href="registrarse.html" class="fas fa-user"></a>
                    <a href="carrito.html" class="fas fa-shopping-cart"></a>
                </div>
            </section>
            </header>
    <a href="/"><img class="home" src="/views/home.html" alt="" /></a>
    <div class="svg">
        <img src="" alt="">


        <div class="error">
            <h2>Oops!</h2>
            <h2>Esta página no fuciona.</h2>
            <h1>404</h1>
            <p>Estamos trabajando para resolverlo.</p>

        </div>

        <section id='wsp-chat'>
            <figure>
                <a class="wsp" href="https://wa.me/+541161031216?text=Hola%20que%20servicios%20brindan%3F"><img class="wst"
                        src="img/z-imagenes/iconos/wsp.png" alt=""></a>
            </figure>
        </section>


    <div class="btn-flotante">
        <a class="btn-flotantes" href="/">Volver a Arte café</a>
    </div>

<script src="js/main.js"></script>
</body>

</html>