<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
<link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body>
    
    
 <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C132.34,195.88 257.62,12.33 500.84,84.38 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: rgb(243, 244, 245);"></path></svg></div> 
      <footer>
        <div class="container_footer">
            <div class="box_footer">
                <div class="logo">
                    <img src="img/z-imagenes/iconos/logo_black.jpeg" alt="">
                </div>
                <div class="terms">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque velit libero officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia praesentium atque laudantium, nam deleniti sapiente deserunt.</p>
                </div>
            </div>
            <div class="box_footer">
                <h2 class="redes">Medios de pago</h2>
                <a href="https://www.google.com"></a>
                <a href="#">Tarjetas de crédito</a>
                <a href="#">Mercado Pago</a>
                <a href="#">Transferencias</a>
            </div>

            <div class="box_footer">
                <h2 class="redes">Compañia</h2>
                <a href="#">Sobre nosotros</a>
                <a href="#">Trabajos</a>
                <a href="#">Cursos</a>
                <a href="#">Contacto</a>              
            </div>

            <div class="box_footer">
                <h2 class="redes">Redes Sociales</h2>
                <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
                <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>

        </div>

        <div class="box_copyright">
            <hr>
            <p>Todos los derechos reservados &copy; <b>Grupo 6 | C8 2021 <br> {Emilce| Rocio| Elias| Alejandro}</b></p>
        </div>
    </footer>

</body>
</html>