<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <title>header</title>
</head>
<body>
    <div class="box_search">
        <h1>Buscar</h1>
        <form>
            <input type="text" name="" placeholder="Buscar...">
            <input type="submit" name="" value="buscar...">
        </form>
    </div>
</body>
</html>