<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">

  <link rel="shortcut icon" href="/img/z-imagenes/iconos/icocno_cora.png" type="image/x-icon">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https: //fonts.googleapis.com/css2? family = Gowun + Batang & display = swap " rel=" stylesheet ">

  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:500,600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <title>Home -Arte café</title>
</head>

<body>
  <MARQUEE DIRECTION=right class="envio"> Envío bonificado a partir de $3500 <i class="fas fa-truck"></i></MARQUEE>
  <hr>
  <div class="social-icons">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fas fa-envelope-open-text"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href=""><i class="fas fa-mobile-alt"></i></i></a>
  </div>
  <header class="main-header">
    <div class="logo">
      <a href="#">ARTE CAFE</a> <br>
      <h6>Sabores del mundo</h6>
    </div>
    <section class="box_search">
      <div class="box">
        <div class="search">
          <span class="icon"><i class="fa fa-search"></i></span>
          <input type="search" id="search" placeholder="Search..." />
        </div>
      </div>
    </section>
    </div>
    <div class="fa-fa">
      <a href="#"><i class="far fa-user-circle"></i></a>
      <a href="#"><i class="fal fa-shopping-cart"></i></a>
    </div>

    <!--<input type="checkbox" class="menu-btn" id="menu-btn">-->
    <label for="menu-btn" class="menu-icon">
      <span class="menu-icon__line"></span>
    </label>
    <ul class="nav-links">
      <li class="nav-link">
        <a href="#">Productos</a>
      </li>
      <li class="nav-link">
        <a href="#">Compra online</a>
      </li>
      <li class="nav-link">
        <a href="#">Galeria de imágenes</a>
      </li>
      <li class="nav-link">
        <a href="#">Contacto</a>
      </li>
    </ul>

  </header>
<section>
  <div class="container1">
    <div class="row">
        <div class="col s12">
            <h1 class="center-align titulo">¿Qué buscás hoy?</h1>

            <div class="carousel center-align">
                <div class="carousel-item">
                    <h2 class="subtitulo">Donas</h2>
                    <div class="linea-division"></div>
                    <p class="sabor">Glaseadas</p>
                    <img src="img/dona-01.jpg" alt="">
                </div>
                <div class="carousel-item">
                    <h2 class="subtitulo">Pastel</h2>
                    <div class="linea-division"></div>
                    <p class="sabor">Chocolate</p>
                    <img src="img/pastel-01.jpg" alt="">
                </div>
                <div class="carousel-item">
                    <h2 class="subtitulo">Muffins</h2>
                    <div class="linea-division"></div>
                    <p class="sabor">Chocolate</p>
                    <img src="img/muffins-01.jpg" alt="">
                </div>
                <div class="carousel-item">
                    <h2 class="subtitulo">Muffins</h2>
                    <div class="linea-division"></div>
                    <p class="sabor">Vainilla</p>
                    <img src="img/muffins-02.jpg" alt="">
                </div>
                <div class="carousel-item">
                    <h2 class="subtitulo">Pastel</h2>
                    <div class="linea-division"></div>
                    <p class="sabor">Chocolate</p>
                    <img src="img/pastel-02.jpg" alt="">
                </div>
                <div class="carousel-item">
                    <h2 class="subtitulo">Donas</h2>
                    <div class="linea-division"></div>
                    <p class="sabor">Chocolate</p>
                    <img src="img/dona-02.jpg" alt="">
                </div>
                <div class="carousel-item">
                    <h2 class="subtitulo">Muffins</h2>
                    <div class="linea-division"></div>
                    <p class="sabor">Chocolate</p>
                    <img src="img/muffins-03.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
</section>










  <section class="portafolio">
    <div class="contenedor">
      <h2 class="titulo">Galeria</h2>
      <div class="galeria-port">
        <div class="imagen-port">
          <img src="img/z-imagenes/imgVarios/chica_con_cafe.jpeg">
          <div class="hover-galeria">
            <img src="img/z-imagenes/iconos/coffee-cup.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="img/z-imagenes/imgVarios/artelatte.jpg">
          <div class="hover-galeria">
            <img src="img/z-imagenes/iconos/coffee-cup.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="img/z-imagenes/imgVarios/cafe_taza.jpeg">
          <div class="hover-galeria">
            <img src="img/z-imagenes/iconos/coffee-cup.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="img/z-imagenes/imgVarios/coffee_by_erkucrunk_d20nsma-350t.jpg">
          <div class="hover-galeria">
            <img src="img/z-imagenes/iconos/coffee-cup.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
          <section>
          </section>


          <div class="container1">
            <div class="row">
                <div class="col s12">
                    <h1 class="center-align titulo">¿Qué buscas hoy?</h1>
    
                    <div class="carousel center-align">
                        <div class="carousel-item">
                            <h2 class="subtitulo">Donas</h2>
                            <div class="linea-division"></div>
                            <p class="sabor">Glaseadas</p>
                            <img src="img/dona-01.jpg" alt="">
                        </div>
                        <div class="carousel-item">
                            <h2 class="subtitulo">Pastel</h2>
                            <div class="linea-division"></div>
                            <p class="sabor">Chocolate</p>
                            <img src="img/pastel-01.jpg" alt="">
                        </div>
                        <div class="carousel-item">
                            <h2 class="subtitulo">Muffins</h2>
                            <div class="linea-division"></div>
                            <p class="sabor">Chocolate</p>
                            <img src="img/muffins-01.jpg" alt="">
                        </div>
                        <div class="carousel-item">
                            <h2 class="subtitulo">Muffins</h2>
                            <div class="linea-division"></div>
                            <p class="sabor">Vainilla</p>
                            <img src="img/muffins-02.jpg" alt="">
                        </div>
                        <div class="carousel-item">
                            <h2 class="subtitulo">Pastel</h2>
                            <div class="linea-division"></div>
                            <p class="sabor">Chocolate</p>
                            <img src="img/pastel-02.jpg" alt="">
                        </div>
                        <div class="carousel-item">
                            <h2 class="subtitulo">Donas</h2>
                            <div class="linea-division"></div>
                            <p class="sabor">Chocolate</p>
                            <img src="img/dona-02.jpg" alt="">
                        </div>
                        <div class="carousel-item">
                            <h2 class="subtitulo">Muffins</h2>
                            <div class="linea-division"></div>
                            <p class="sabor">Chocolate</p>
                            <img src="img/muffins-03.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>











  </section>

  <footer>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
        style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C132.34,195.88 257.62,12.33 500.84,84.38 L500.00,0.00 L0.00,0.00 Z"
          style="stroke: none; fill: rgb(243, 244, 245);"></path>
      </svg></div>
    <footer>
      <div class="container_footer">
        <div class="box_footer">
          <div class="logo">
            <img src="img/z-imagenes/iconos/logo_black.jpeg" alt="">
          </div>
          <div class="terms">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque velit libero
              officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia praesentium atque
              laudantium, nam deleniti sapiente deserunt.</p>
          </div>
        </div>
        <div class="box_footer">
          <h2>Medios de pago</h2>
          <a href="https://www.google.com"></a>
          <a href="#">Tarjetas de crédito</a>
          <a href="#">Mercado Pago</a>
          <a href="#">Transferencias</a>
        </div>

        <div class="box_footer">
          <h2>Compañia</h2>
          <a href="#">Sobre nosotros</a>
          <a href="#">Trabajos</a>
          <a href="#">Cursos</a>
          <a href="#">Contacto</a>
        </div>

        <div class="box_footer">
          <h2>Redes Sociales</h2>
          <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
          <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
          <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
          <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
        </div>

      </div>

      <div class="box_copyright">
        <hr>
        <p>Todos los derechos reservados &copy; <b>Grupo 6 | C8 2021 <br> {Emilce| Rocio| Elias| Alejandro}</b></p>
      </div>
    </footer>


 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 <script src="/js/main.js"></script>
</body>

</html>