<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/z-imagenes/iconos/icocno_cora.png" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link href="dist/hamburgers.css" rel="stylesheet">
    <title>Arte café - Home</title>
</head>
<body>
    <div class="box_envio_bonificado">
        <h3 class="box_envio">Envío bonificado a partir de $3500</h3>
    </div>
    <section class="barra">
        <div class="box_search">
        <h1>Arte café</h1>
        <img src="img/z-imagenes/iconos/logo." alt="">
        <nav>
            <input type="checkbox" id="menu">
            <button class="hamburger" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            <ul>
                <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li>
                <li>Link 4</li>
            </ul>
        </nav>
        <form>
            <input type="text" name="" placeholder="Buscar...">
            <a href="#"><i class="fas fa-search"></i></a>
        </form>
        <ul>
            <li>
                <a class="user" href="#"></a><i class="fas fa-user"></i>
                <a class="cart" href="#"></a><i class="fas fa-shopping-cart"></i>
            </li>
        </ul>
    </section>   

</body>
</html>