<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/realizado.css">
    <link rel="stylesheet" href="img/z-imagenes/iconos/coffee-cup.png">
    <title>Arte Cafe</title>
</head>
<body>
    <main>
        <div class="compra">
            <h1>¡Compra realizada!</h1>

            <img src="img/z-imagenes/imgVarios/59213724-icono-de-marca-verde.jpg" alt="correcto">

            <p>hemos recibido correctamente el pago. <br>
                esperamos que disfrutes tu compra.
            </p>



        </div>
        <div class="continuar">
            <button><a href="/views/home.html">continuar</a></button>
        </div>

        <a href="vista.html">volver</a>
    </main>
    
</body>
</html>