<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Registrarse</title>

</head>
<body>
    <section class="form-registro">
        <input class="controls" type="text" name="Nombre" id="Nombre" placeholder="Nombre" >
        <input class="controls" type="text" name="Email" id="Email" placeholder="Email" >
        <input class="controls" type="password" name="Email" id="Email" placeholder="Contraseña">

        <br><input class="boton" type="submit" value="Iniciar Sesión"><br>
        <br><a href="#">¿Ya eres miembro?</a><br><br><a href="#">¿Olvidaste tu Contraseña?</a><br>
<h2>También puedes</h2>
    </section>
    
</body>
</html>