<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="home" id="home">

        <div class="swiper-container home-slider">

            <div class="swiper-wrapper wrapper">

                <div class="swiper-slide slide">
                    
                    <div class="content">
                        <span class="un_cafe">ARTE CAFE</span>
                        <h3 class="sabores">Sabores del mundo</h3>
                        <p class="subt"> Disfurtá de los mejores momentos con la mejor compania en la comodidad de tu
                            hogar.</p>
                        <a href="#" class="btn">Ver productos</a>
                    </div>
                    <div class="image">
                        <img class="img_home" src="img/z-imagenes/img_home/img-1-taza.jpg" alt="">
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
    </section>
</body>
</html>