<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/wsp-chat.css">
    <link rel="stylesheet" href="css/vista.css">
    <link rel="stylesheet" href="css/home.css">
    
  
  
    <link rel="shortcut icon" href="/img/z-imagenes/iconos/icocno_cora.png" type="image/x-icon">
  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  
    <link href="https: //fonts.googleapis.com/css2? family = Gowun + Batang & display = swap " rel=" stylesheet ">
  
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

    
    <title>Arte Cafe</title>
</head>


<body>
    <h4>Tu carrito -Arte café</h4>
    
    <article class="arti">
        <p>Chemex</p>
        <div class="parte1">
            <img src="img/z-imagenes/imgProductos/cafeteraElegante.jpg" alt="Chemex" title="Chemex">
            <input type="number" value="1">
        </div>
        <div class="parte2">
            <p>Precio</p>
            <p>$9500</p>
        </div>
    
    </article>
    
    <article class="arti">
        <div class="parte3">
            <p>Total con envío</p>
            <p>$10000</p>
        </div>
        <div class="parte4">
            <a href="">Elegir más productos</a>
            <button type="button"><a href="/views/formulario.html">Comprar</a></button>
        </div>
        <div class="Eliminar">
            <button type="reset"><a href="">eliminar</a></button>
        </div>
    </article>
    

    <footer>
        <div class="container_footer">
            <div class="box_footer">
              <div class="logo">
                <img src="img/z-imagenes/iconos/logo_black.jpeg" alt="">
              </div>
              <div class="terms">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque velit libero
                  officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia praesentium atque
                  laudantium, nam deleniti sapiente deserunt.</p>
              </div>
            </div>
            <div class="box_footer">
              <h2>Medios de pago</h2>
              <a href="#"><i class="fas fa-credit-card"></i> Tarjetas</a>
              <a href="#"><i class="fas fa-money-bill-wave"></i> Efectivo</a>
              <a href="#"><i class="fas fa-money-check-alt"></i> Transferencias</a>
              <a href="#"><i class="far fa-handshake"></i></i> MercadoPago</a>
            </div>
      
            <div class="box_footer">
              <h2>La empresa</h2>
              <a href="#"><i class="far fa-laugh-wink"></i> Sobre nosotros</a>
              <a href="#"><i class="fas fa-mug-hot"></i> Trabajos</a>
              <a href="#"><i class="fas fa-chalkboard-teacher"></i> Cursos</a>
              <a href="https://wa.me/541161031216"><i class="fab fa-whatsapp"></i> Contacto</a>
            </div>
      
            <div class="box_footer">
              <h2>Redes Sociales</h2>
              <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
              <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
              <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
              <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>

        <div class="box_copyright">
            <hr>
            <p>Todos los derechos reservados 2021 <b>Grupo 6 &copy; C8 {Emilce| Rocio| Elias| Alejandro}</b></p>
        </div>
    </footer>
</body>
</html>