<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/wsp-chat.css">
    <link rel="stylesheet" href="../public/css/vista.css">
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="stylesheet" href="../public/css/carrusel.css">
    
  
  
    <link rel="shortcut icon" href="/img/z-imagenes/iconos/icocno_cora.png" type="image/x-icon">
  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  
    <link href="https: //fonts.googleapis.com/css2? family = Gowun + Batang & display = swap " rel=" stylesheet ">
  
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

    
    <title>Arte Cafe</title>
</head>

<header class="main-header">
  <section class='header-top'>
    <MARQUEE DIRECTION=right class="envio"> Envío bonificado a partit de $3500 <i class="fas fa-truck"></i></MARQUEE>
    <hr class="linea">
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fas fa-envelope-open-text"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="tel:541161031216"><i class="fas fa-mobile-alt"></i></i></a>
    </div>
  </section>
  <section class='header-bottom'>


    <div class="logo">
      <a href="#">ARTE CAFE</a> <br>
      <h6>Sabores del mundo</h6>
    </div>

    </div>
    <div class="fa-fa">
      <a href="/registrarse"><i class="far fa-user-circle"></i></a>
      <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
    </div>

    <section class="box_search">
      <div class="box">
        <div class="search">
          <span class="icon"><i class="fa fa-search"></i></span>
          <input type="search" id="search" placeholder="Buscar..." />
        </div>
    </section>

    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon">
      <span class="menu-icon__line"></span>
    </label>
    <ul class="nav-links">
      <li class="nav-link">
        <a href="/producto">Productos</a>
      </li>
      <li class="nav-link">
        <a href="/carrito">Compra online</a>
      </li>
      <li class="nav-link">
        <a href="#">Galeria de imágenes</a>
      </li>
      <li class="nav-link">
        <a href="#">Contacto</a>
      </li>
    </ul>
  </section>
</header>
<section id='wsp-chat'>
  <figure>
    <a href="https://wa.me/+541161031216?text=Hola%20que%20servicios%20brindan%3F"><img
        src="img/z-imagenes/iconos/wsp.png" alt=""></a>
  </figure>
</section>


<body>
    <h4>Tu carrito -Arte café</h4>
    
    <article class="arti">
        <p>Chemex</p>
        <div class="parte1">
            <img src="../public/img/z-imagenes/img-rocio/chemex.webp" alt="Chemex" title="Chemex">
            <input type="number" value="1">
        </div>
        <div class="parte2">
            <p>Precio</p>
            <p>$9500</p>
        </div>
    
    </article>
    
    <article class="arti">
        <div class="parte3">
            <p>Total con envío</p>
            <p>$10000</p>
        </div>
        <div class="parte4">
            <a href="">Elegir más productos</a>
            <button type="button"><a href="formulario.html">Comprar</a></button>
        </div>
        <div class="Eliminar">
            <button type="reset"><a href="">eliminar</a></button>
        </div>
    </article>


    
    <footer>
      <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
          style="height: 100%; width: 100%;">
          <path d="M0.00,49.98 C132.34,195.88 257.62,12.33 500.84,84.38 L500.00,0.00 L0.00,0.00 Z"
            style="stroke: none; fill: rgb(238, 235, 235);"></path>
        </svg></div>
      <div class="container_footer">
        <div class="box_footer">
          <div class="logo">
            <img src="img/z-imagenes/iconos/logo_black.jpeg" alt="">
          </div>
          <div class="terms">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque velit libero
              officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia praesentium atque
              laudantium, nam deleniti sapiente deserunt.</p>
          </div>
        </div>
        <div class="box_footer">
          <h2>Medios de pago</h2>
          <a href="#"><i class="fas fa-credit-card"></i> Tarjetas</a>
          <a href="#"><i class="fas fa-money-bill-wave"></i> Efectivo</a>
          <a href="#"><i class="fas fa-money-check-alt"></i> Transferencias</a>
          <a href="#"><i class="far fa-handshake"></i></i> MercadoPago</a>
        </div>
  
        <div class="box_footer">
          <h2>La empresa</h2>
          <a href="#"><i class="far fa-laugh-wink"></i> Sobre nosotros</a>
          <a href="#"><i class="fas fa-mug-hot"></i> Trabajos</a>
          <a href="#"><i class="fas fa-chalkboard-teacher"></i> Cursos</a>
          <a href="https://wa.me/541161031216"><i class="fab fa-whatsapp"></i> Contacto</a>
        </div>
  
        <div class="box_footer">
          <h2>Redes Sociales</h2>
          <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
          <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
          <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
          <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
        </div>
  
  
  
        <div class="box_copyright">
          <hr>
          <p>Todos los derechos reservados &copy; <b>Grupo 6 | C8 2021 <br> {Emilce| Rocio| Elias| Alejandro}</b></p>
        </div>
    </footer>
</body>
</html>