
.titleadmin{
    text-align: center;
    font-weight: 300;
    color: #7a7a7a;
}
.crearprod{
  
    display: flex;
    justify-content: space-around;
};

.main.mainadmin{
    width: 80%;
    display: flex;
    margin: 10vw;
    overflow: hidden;
    justify-content: center;
    
};

.crearprod .crearProducto .titleadmin{
    font-family: Georgia, 'Times New Roman', Times, serif

};
#description{
    background-color: #e2fbd9;
   
}
.form-select, .Crear {
        margin-top: 1rem;
        display: inline-block;
        font-size: 1rem;
        color: #fff;
        background: linear-gradient(90deg, #038166, #22e2a9);
        border-radius: 0.5rem;
        cursor: pointer;
        padding: 0.8rem 3rem;
      }
      .form-select:hover, .Crear:hover {
        background: var(--green);
        letter-spacing: 0.1rem;
        text-align: center;
      }

      .textarea_input{
        width: 100%;
        padding: 0.7em;
        border: none;
        background: none;
        outline: 0;
        color: #fff;
        border-bottom: 1px solid #03a554;
      }
     
     
