
.part-1 .imagen img{
    width: 30%;
    
}

.part-1 {
    text-align: center;
}

.pagar form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: rgb(109, 106, 106);
   
    }

.pagar form label {
    padding: 10px;
    color: gray;
}

.pagar form input{
    width: 200px; 
    border-radius: 50px;
    padding: 7px;
}

.part-2 .img1 img, .part-2 .img2 img{
    width: 30px;
}

.part-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.realizado a{
    text-decoration: none;
   
}

.volver a{
    text-decoration: none;

}

.realizado {
    border: 1px solid;
    border-radius: 30px;
    width: 150px;
    text-align: center;
    margin-top: 30px;
}

.volver{
    margin-top: 70px;
}
.realizado:hover {
    background-color: rgb(78, 128, 78);
    color: white;
}


@media(min-width:768px){
.formulario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}}
