@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae9ca4;
    --black:#013a2e;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --letras: rgb(0, 128, 79);
    
}

*{
    outline: none;
    border:none;
    transition: all .2s linear;
}


 

.header > section{
    width: 100%;
    padding: 0;
    
}
 .header_container div .icons{
    position: absolute;
    right: 0;
    
}
   
 .header_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
}
 .header_container > div{
       position: relative;
    width: 96%;
    display: flex;
    min-height: 13vw;
    align-items: center;
    justify-content: center;
}

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

 .heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: linear-gradient(90deg,#038166, #22e2a9 );
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}
 header{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 10;
}
 .header_container{
    /*position: fixed;*/
    top:0; left: 0; right:0;
    background: #fff;
    display: flex;
    align-items: center;
    z-index: 5;
    box-shadow: var(--box-shadow);
    width: 100%;
}

 header .logo{
    color:var(--black);
    font-size: 2rem;
    font-weight: bolder;
    position: absolute;
    left: 0;
}

 header .logo i{
    color:rgb(100, 58, 18);
}
 header .navbar a{
    font-size: 1.3rem;
    border-radius: .5rem;
    padding:.3rem 1rem;
    color:var(--light-color);
    font-family: 'Nunito';
    justify-content: center;
   
}

 header .navbar a.active,
 header .navbar a:hover{
    color:#fff;
    background: linear-gradient(90deg, #22e2a9, #038166);
   
}

 header .icons i,
 header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:3.5rem;
    line-height: 3.5rem;
    width:3.5rem;
    text-align: center;
    font-size: 1.5rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;

}

 header .icons i:hover,
 header .icons a:hover{
    color:#fff;
    background: var(--green);
    transform: rotate(360deg);
}



 #search-form{
    position: fixed;
    top:-110%; left:0; 
    height:50%; width:100%;
    z-index: 10;
    background:rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}
 #search-form.active{
    top:0;
}

 #search-form #search-box{
    width:50%;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color:#fff;
    font-size: 3rem;
    text-transform: none;
    background:none;
}

 #search-form #search-box::placeholder{
    color:#eee;
}

 #search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color:#fff;
    cursor:pointer;
    font-size: 3rem;
    top: 13rem;
    position: revert;
}

 #search-form label:hover{
    color:var(--green);
}

 #search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top: 2rem; right:3rem;
    font-size: 4rem;
}

/*********************************************/
/*********************************************/

@media (min-width: 768px) {
 .header_container > div {
        min-height: 8vw;
}
header .navbar a{
    font-size: 1.3rem;
}
}