@import url('https://fonts.googleapis.com/css2? family = Gowun + Batang & display = swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");



.envio{
  color: antiquewhite;
  background: linear-gradient(to right, rgb(5, 73, 56), rgba(3, 153, 48, 0.671));
  height: 15px;
    align-items: center;
    display: flex;
}

/*comienza la nav_bar*/

.logo{
  text-rendering: auto;
  margin: -12px;
  text-shadow: darkcyan;
  line-height: 12px;
}
.logo a{
  font-size: 17px;
  text-shadow:.5px 1px floralwhite;
font-weight: bolder; 
}

.social-icons{
  display: flex;
  justify-content:space-evenly;
  text-align:justify;
  background-color: rgba(123, 133, 131, 0.39);
  height: 15px;
align-items: center;
}

.social-icons ul li a {
  border: 0 none;
  padding: 0px;
}

.social-icons ul li a i {
  padding: 11px 15px;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.social-icons a{
  color: darkslategrey;
}

.social-icons i:hover {
  color: white;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}


.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 100vw;
  background-color:  rgb(3 153 48 / 18%);
  color: rgba(0, 0, 0, 0.63);
  z-index: 1;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.main-header a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.main-header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
