


.marquee{
  margin: 0;
  padding: 0;
 
}
.envio{
  color: antiquewhite;
  background: linear-gradient(to right, rgb(5, 73, 56), rgba(3, 153, 48, 0.671));
  height: 20px;
  align-items: center;
  display: flex;
  font-size: 1rem;
}

/*barra gris | social media*/
.social-icons{
  display: flex;
  justify-content:space-evenly;
  text-align:justify;
  background-color: rgba(123, 133, 131, 0.39);
  height: 30px;
   align-items: center;
 font-size: 1.5em;
}

.social-icons ul li a {
  border: 0 none;
  padding: 0px;
}

.social-icons ul li a i {
  padding: 11px 15px;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.social-icons a{
  color: darkslategrey;
}

.social-icons i:hover {
  color: white;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

