*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body{
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
  }
  
  .container .item .item-text button{
    text-decoration: none;
    color: green;
  }
  
  .container{
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  
 .item-text a{
  text-decoration: none;
  border: 1px solid #047a67;
  background-color: #047a67;
  font-size: 22px;
  border-radius: 8px;
  color: white;
  margin: 120px;
  padding: 4px;
}
  
  .item{
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
    
    transition: all 300ms;
    
    position: relative;
  }
  
  
  .item::after {
    content: "";
    background-color: rgba(179, 229, 252, .1);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
  }
  
  .item:hover:after{
    opacity: 1;
    transform: scale(1);
  }
  
  .item:hover {
    transform: scale(1.05);
  }
  
  .item-text{
    padding: 1em;
  }
  
  
  .item-img{
    max-width: 100%;
    display: block;
  }
  


   /***************************************Volver************************************************/

.btn-flotantes{
	color: #ffffff; /* Color del texto */
	font-weight: bold; /* Fuente en negrita o bold */
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-decoration: none;

}
.btn-flotante {
	border-radius: 9px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #047a67; /* Color de fondo */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 7;
    
}
.btn-flotante:hover {
	background-color: #04ac79; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
	position: fixed;
}

/***************************************************************MQ*********************************************/
  


 /* @media screen and (min-width: 590px) {
    
    .container{
     grid-template-columns: repeat(2, 1fr);
    }
    
  }
  */
  
  
  @media screen and (min-width: 960px) {
    
    .container{
      grid-template-columns: repeat(3, 1fr);
    }
    
  }