
main{
    position: relative;
    left: 15%;
    top: 5%;
    height: 255px;

    position: relative;
left: 29%;
top: 5%;
height: 255px;
border: 1px solid #047a67;
box-sizing: content-box;
width: 38%;
padding: 29px;

}

@media screen and (min-width: 590px) {
    
    main{
        position: relative;
        left: 29%;
        top: 5%;
        height: 255px;
    }
    
  }
  
  
  
  @media screen and (min-width: 960px) {
    main{
        position: relative;
        left: 34%;
        top: 5%;
        height: 255px;
    }
   
  }