.user_body{
    background: url(/img/imgVarios/fondocafe.jpg);
}


.container_user {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.ctn_form {
    width: 80%;
    padding: 20px;
    background: #f7f7f7;
}


.title {
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    color: #7a7a7a;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #7a7a7a;
}

input[type="email"],
input[type="password"],
input[type="number"],
input[type="text"]{
    width: 100%;
    height: 65px;
    background: rgba(0, 0, 0, 0);
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    color: white;
    border: 0px;
    background: linear-gradient(90deg, #419e02, #11580b);
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background: linear-gradient(90deg, #024d2a, #00c489);
    border-radius: 5rem;
}


.text_end {
    display: block;
    margin-top: 30px;
    text-align: center;
    color: #7a7a7a;
    font-weight: 300;
}

.text_end a {
    color: #029EE1;
    font-weight: 500;
}

/* LADO DERECHO */


.ctn_text {
    width: 100%;
    background-image: url(/img/imgVarios/welcome.jpeg);
    background-position: center;
    background-size: cover;
    padding: 40px;
    position: relative;
}

.capa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #a38647, #bf8022);
    opacity: 0.8;
}

.title_bvn {
    position: relative;
    top: 80px;
    color: white;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

.text_bvn {
    position: relative;
    top: 110px;
    color: white;
    font-size: 18px;
    font-weight: 200;
}

/* TEXTO DE ERROR */

.text_error {
    color: red;
    display: block;
    margin-top: 10px;
}

.check {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
  
  .check label {
      display: flex;
      flex-wrap: wrap;
    font-size: 0.8rem;
  }
  
  .close_x {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
    position: relative;
  }
  
  .close_x:hover,
  .close_x:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  .close_x1 {
	color: #aaa;
	justify-content: right;
	font-size: 28px;
	font-weight: bold;
    position: relative;
    display: none;
    padding-top: 1rem;
  }
  
  .close_x:hover,
  .close_x:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  
.spanColor {
    color: red;
}
/* RESPONSIVE */


@media screen and (max-width: 800px) {
    .close_x1 {
        display: flex;
    }
    .ctn_text {
        display: none;
    }

    .ctn_form {
        margin: auto;
        width: 95%;
        background: rgb(255 255 255 / 85%);
        margin-top: -2rem;
    }
}

@media screen and (max-width: 500px) {

    .title{
        margin-top: 10px;
    }

    input[type="submit"]{
        margin-top: 0;
    }

    .text_end {
        display: block;
        margin-top: 25px;

}
}

