<!DOCTYPE html>
<html lang="es">
<%- include('partials/head_admin.ejs')%>

    <body>

        <%- include('partials/header_admi.ejs') %>
   <section style="padding-top: 10rem; text-align: center;">
    <h1><span style="color: greenyellow;"> Producto creado con exito!</span></h1>
    
   </section>     
<div class="btn-flotante">
    <a class="btn-flotantes" href="/">Volver a Arte café</a>
</div>

        
</body>
</html>