<!DOCTYPE html>
<html lang="es">
<%- include('partials/head_admin.ejs')%>
   <%- include('partials/header_admi.ejs')%>
   <body>
 

    <div class="crear.producto">
    <form class="crearProduct" method="POST">
            <div class="elProducto">
              <label for="inputname" class="adminedit">Producto</label>
              <input type="text" class="form-control" id="inputname" name="name">
            </div>
            <div class="laDescripcion">
              <label for="description" class="adminedit">Descripcion</label>
              <input type="text" class="form-control" id="inputdescription" name="description">
            </div>
            <div class="elPrecio">
              <label for="inputprice" class="adminedit">precio</label>
              <input type="number" class="form-control" id="inputprice" name="price">
            </div>
            <div class="Descuento">
              <label for="inputdiscont" class="adminedit">Descuento</label>
              <input type="number" class="form-control" id="inputdiscont" name="discount">
            </div>
            <div class="laCategoria">
              <label for="inputCategory" class="adminedit">Categoria</label>
              <input type="text" class="form-control" id="inputCategory" name="category">
            </div>
            
            <div class="unaImagen">
              <label for="inputimage" class="adminedit">Imagen</label>
              <input type="file" class="form-control" id="inputimage" name="image">
            </div>
    
            </div>
            <div class="crearProducto">
              <button type="submit" class="btn btn-primary">Crear</button>
            </div>
          </form>
        </div>
          
</body>
<%- include('partials/footer.ejs') %>
</html>

