<!DOCTYPE html>
<html lang="es">
<%- include('partials/head_admin.ejs')%>

    <body>

        <%- include('partials/header_admi.ejs') %>
   <section style="padding-top: 10rem; text-align: center;">
    <h1><span> Bienvenid@ de nuevo!</span></h1>
    <h2>¿Qué vamos a hacer hoy?</h2>
   </section>     
 
        
</body>
</html>