<%- include('partials/head.ejs')%>

    <body>
        <%- include('partials/header.ejs') %>
        <section class="curso" id="cursos">
            <h3 class="sub-heading"></h3>
            <h1 class="heading"> Convertite en un experto en café</h1>

            <div class="box-container">
                <div class="box">
                    <img src="img/empresa/barista-completo.jpg" alt="">
                    <h3>Barista completo</h3>
                    <div class="stars">       
                    </div>
                    <div id="baristaCompleto_info">
                        <p>
                            En este curso vamos a aprender todo el proceso de producción del grano de café 
                            desde la siembra, cosecha, tueste y preparado, vamos a conocer los diferentes 
                            tipos de moliendas y la importancia de cada una.
                            al terminar el curso seras capaz de reconocer los distintos tipos de café, y estaras preparado 
                            para trabajar en cualquier cafeteria de especialidad realizando espressos de buena calidad.
                        </p>
                    </div>
                    <button id="baristaCompleto_btn" class="btn">+ Info</button> 
                </div>

                <div class="box">
                    <img src="img/empresa/cafe-filtrado.jpg" alt="">
                    <h3>Café filtrado</h3>
                    <div class="stars">
                    </div>
                    <div id="cafeFiltrado_info">
                        <p>
                            Si queres especializarte en los distintos metodos de café filtrado que existes, 
                            este curso es para vos.
                            vamos a aprender a utilizar cafeteras como chemex, aeropress, v-60,
                            prensa francesa, entre otros, conoceras el tipo de molienda de cada metodo así como también
                            la manera correcta en la que se prepara.
                        </p>
                    </div>
                    <button id="cafeFiltrado_btn" class="btn">+ Info</button>    
                </div>

                <div class="box">
                    <img src="img/empresa/espresso-perfecto.jpg" alt="">
                    <h3>Espresso perfecto</h3>
                    <div class="stars">
                    </div>
                    <div id="espressoPerfecto_info">
                        <p>
                            Este curso te va a proporcionar los conocimientos suficientes
                            para que logres crear una infusio de excelencia,
                            vamos a aprender el tipo de molienda que necesitas para un espresso perfecto,
                            la dosis y el paso a paso para prepararlo.
                        </p>
                    </div>
                    <button id="espressoPerfecto_btn" class="btn">+ Info</button>  
                </div>

                <div class="box">       
                    <img src="/img/empresa/arte-latte.jpg" alt="">
                    <h3>Arte Latte </h3>
                    <div class="stars">
                    </div>
                    <div id="arteLatte_info">
                        <p>
                            Este curso te acercará a nuestra parte creativa enseñandonos las tecnicas del Arte
                            dentro de nuestro café.
                            aprenderemos a realizar corazones, espigas, cisnes y tulip que son las figuras mas
                            reconocidas dentro del mundo del barismo.
                            ademas aprenderemos la téncica del cremado de la leche.
                        </p>
                    </div>
                    <button id="arteLatte_btn" class="btn">+ Info</button>
                </div>

                <div class="box">
                    <img src="/img/empresa/cafe-frio.jpg" alt="">
                    <h3>Café frío</h3>
                    <div class="stars">
                    </div>
                    <div id="cafeFrio_info">
                        <p>
                            Volveté un profesional creando todo tipo de recetas con cafe frío.
                            desde un ice latte o recetas como un espresso tonic. Como extra vamos a aprender 
                            como hacer un cold brew o café macerado.
                        </p>
                    </div>
                    <button id="cafeFrio_btn" class="btn">+ Info</button>
                </div>

                <div class="box">
                    <img src="/img/empresa/coffee-roaster.jpg " alt="">
                    <h3>Tostador de café </h3>
                    <div class="stars">
                    </div>
                    <div id="tostador_info">
                        <p>
                            Este curso intensivo de las técnicas de tostado de café te acercará
                            al detras de escena en la preparación del café. veras la diferencia 
                            en el tipo de tueste y como influye esto en la bebida.
                            Por último realizaremos una pequeña cata de café para poder conocer los distintos
                            sabores en taza.
                        </p>
                    </div>
                    <button id="tostador_btn" class="btn">+ Info</button>
                </div>


            </div>
        </section>

        
        <%- include('partials/banner.ejs') %>
        
        <!--   Comieza footer     -->
        <%- include('partials/footer.ejs') %>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/js/curso.js"></script>
    </body>
</html>