<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/emergente.css">
</head>
<body>
    <a href="#openModal">carrito</a>

    <div id="openModal" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>
            <h2>Mi Carrito</h2>
            <p>Su carrito está vacio</p>
            <a href="">Agregar productos</a>
    
        </div>
    </div>
</body>
</html>
