<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Carrito</title>
	<link rel="stylesheet" href="css">	
</head>
<body>
	<div class="contenedor">
	
        <div class="modal-container">
			<div class="modal modal close">
				<a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
				<h3>Para ingresar</h3>
				<h4>debes iniciar sesion</h4>
				<form action="">
					<div class="contenedor-inputs">
						<input type="text" placeholder="Nombre">
						<input type="email" placeholder="Correo">
					</div>
					<input type="submit" class="btn-submit" value="Iniciar">
				</form>
			</div>
		</div>
	</div>
    
</body>
	<script src="/js/emergente.js"></script>
</html>