<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<body>
    
 <!-- imagen move  -->


    <main class="formulario">

        <section class="part-1">

            <article class="imagen">
                <img src="img/img-rocio/check.jpg" alt="Chemex" title="Chemex">
            </article>

            <article class="producto">
                <h3>Cafetera Chemex</h3>
                <p>$10000</p>
            </article>

        </section>

        <section class="part-2">
            <div class="img1">
              <a href="#"><i class="fab fa-cc-visa"></i> </a>
            </div>

            <div class="img2">
              <a href="#"><i class="fab fa-cc-mastercard"></i> </a>
            </div>

        </section>

        <section class="form-pagar">
            <form action="">
                <label for="nombre">Nombre del titular </label>
                <input type="text" name="nombre">
                <label for="numero">Numero de tarjeta </label>
                <input type="number" name="numero">
                <label for="mes">Fecha de expiracion </label>
                <input type="date" name="mes">
                <label for="contraseña">Codigo de seguridad </label>
                <input type="password" name="contraseña">

        </section>

        <div class="listo">
            <a href="realizado">Pagar</a>
        </div>

        <div class="regreso">
            <a href="/">Volver al home</a>
        </div>
        </form>
    </main>




    <%- include('partials/footer.ejs') %>
</body>

</html>