    <%- include('partials/head.ejs')%>
        <body>
            <%- include('partials/header.ejs') %>
            <section class="banner1">
                <img src="/img/imgVarios/caffe-home1.png" alt="" />
            </section>            
            <section class="merienda" id="meriendas">
                <h3 class="sub-heading"></h3>
                <h1 class="heading"> Sorprendé con una merienda muy especial </h1>
                
                <div class="box-container" id="meriendasContainer">
                    <!-- Aca se cargan las meriendas -->
                </div>
            </section>
            <section id="carrito">
                <!-- Aca se carga el carrito -->
            </section>



        </body>

    <%- include('partials/banner.ejs') %>
    <!----   Comieza footer     ----->
    <%- include('partials/footer.ejs') %>

    <script src="/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/meriendas.js"></script>

</html>