<!DOCTYPE html>
<html lang="es">

  <%- include('partials/head.ejs') %>
  
<body class="productos">
  <%- include('partials/header.ejs') %>
  <!-- comienza header  --->
 

  <!-- product section starts  -->

  <section class="produc_page" id="produc_page">

    <h1 class="heading">Productos<span> imperdibles </span></h1>

    <div class="box-container">

      <div class="box">
        <span class="discount">-33%</span>
        <div class="icons">
          <a href="#" class="fas fa-eye"></a>
        </div>
        <img src="/img/imgProductos/perene.png" alt="">
        <h3>Café</h3>
        <div class="info_pro">
          <p class="info_p">Bolsa de 250gr café molido, molienda fina, aroma chocolate intenso.</p>
        </div>
        <div class="price"> $*** <span> $**** </span> </div>
        <div class="quantity">
          <span>Unidad: </span>
          <input type="number" min="1" max="1000" value="1">
          <span></span>
        </div>
        <a href="vista" class="btn">Agregar al carrito</a>
      </div>

      <div class="box">
        <span class="discount">-33%</span>
        <div class="icons">
          <a href="#" class="fas fa-eye"></a>
        </div>
        <img src="/img/imgProductos/balanza scale digital.webp" alt="">
        <h3>Balanza</h3>
        <div class="info_pro">
          <p class="info_p">Balanza café scale barista digital C/ temporizador infusores</p>
        </div>
        <div class="price"> $*** <span> $**** </span> </div>
        <div class="quantity">
          <span>Unidad: </span>
          <input type="number" min="1" max="1000" value="1">
          <span></span>
        </div>
        <a href="#" class="btn">Agregar al carrito</a>
      </div>

      <div class="box">
        <span class="discount">-33%</span>
        <div class="icons">
          <a href="#" class="fas fa-eye"></a>
        </div>
        <img src="/img/imgProductos/cafetera-italiana.jpg" alt="">
        <h3>Cafetera</h3>
        <div class="info_pro">
          <p class="info_p">Cafetera volturno italiana moka express aluminio 12 pocillos.</p>
        </div>
        <div class="price"> $*** <span> $**** </span> </div>
        <div class="quantity">
          <span>Unidad: </span>
          <input type="number" min="1" max="1000" value="1">
          <span></span>
        </div>
        <a href="#" class="btn">Agregar al carrito</a>
      </div>

      <div class="box">
        <span class="discount">-33%</span>
        <div class="icons">
          <a href="#" class="fas fa-eye"></a>
        </div>
        <img src="/img/imgProductos/cafeteraV60.webp" alt="">
        <h3>Cafetera</h3>
        <div class="info_pro">
          <p class="info_p">Cafetera manual hario V60 N2 transparente / acrilico.</p>
        </div>
        <div class="price"> $*** <span> $**** </span> </div>
        <div class="quantity">
          <span>Unidad: </span>
          <input type="number" min="1" max="1000" value="1">
          <span></span>
        </div>
        <a href="#" class="btn">Agregar al carrito</a>
      </div>

      <div class="box">
        <span class="discount">-33%</span>
        <div class="icons">
          <a href="#" class="fas fa-eye"></a>
        </div>
        <img src="/img/imgProductos/pava kettle.webp" alt="">
        <h3>Pava</h3>
        <div class="info_pro">
          <p class="info_p">Pava Barista Café - Tetera Kettle Con Termometro 1,2 Litros.</p>
        </div>
        <div class="price"> $*** <span> $**** </span> </div>
        <div class="quantity">
          <span>Unidad: </span>
          <input type="number" min="1" max="1000" value="1">
          <span></span>
        </div>
        <a href="#" class="btn">Agregar al carrito</a>
      </div>

      <div class="box">
        <span class="discount">-33%</span>
        <div class="icons">
          <a href="#" class="fas fa-eye"></a>
        </div>
        <img src="/img/imgProductos/pitcher.jpg" alt="">
        <h3>Jarra</h3>
        <div class="info_pro">
          <p class="info_p">Jarra Pitcher arte latte galaxy midnight 12 Oz.</p>
        </div>
        <div class="price"> $*** <span> $**** </span> </div>
        <div class="quantity">
          <span>Unidad: </span>
          <input type="number" min="1" max="1000" value="1">
          <span></span>
        </div>
        <a href="#" class="btn">Agregar al carrito</a>
      </div>

      <div class="box">
        <span class="discount">-33%</span>
        <div class="icons">
          <a href="#" class="fas fa-eye"></a>
        </div>
        <img src="/img/imgProductos/prensa francesa.webp" alt="">
        <h3>Cafetera</h3>
        <div class="info_pro">
          <p class="info_p">Cafetera prensa francesa 350 Ml con embolo de acero y vidrio.</p>
        </div>
        <div class="price"> $*** <span> $**** </span> </div>
        <div class="quantity">
          <span>Unidad: </span>
          <input type="number" min="1" max="1000" value="1">
          <span></span>
        </div>
        <a href="#" class="btn">Agregar al carrito</a>
      </div>

      <div class="box">
        <span class="discount">-33%</span>
        <div class="icons">
          <a href="#" class="fas fa-eye"></a>
        </div>
        <img src="/img/imgProductos/syphon.jpg" alt="">
        <h3>Cafetera</h3>
        <div class="info_pro">
          <p class="info_p">Cafetera Hario Technica TCA-5 manual negra y acero inoxidable sifón.</p>
        </div>
        <div class="price"> $*** <span> $**** </span> </div>
        <div class="quantity">
          <span>Unidad: </span>
          <input type="number" min="1" max="1000" value="1">
          <span></span>
        </div>
        <a href="#" class="btn">Agregar al carrito</a>
      </div>
      <div class="box">
        <span class="discount">-33%</span>
        <div class="icons">
          <a href="#" class="fas fa-eye"></a>
        </div>
        <img src="/img/imgProductos/molinillo.webp" alt="">
        <h3>Molinillo</h3>
        <div class="info_pro">
          <p class="info_p">Molinillo de cafe manual, amoladora de Café acero inoxidable.</p>
        </div>
        <div class="price"> $*** <span> $**** </span> </div>
        <div class="quantity">
          <span>Unidad: </span>
          <input type="number" min="1" max="1000" value="1">
          <span></span>
        </div>
        <a href="#" class="btn">Agregar al carrito</a>
      </div>



  </section>
  <div class="btn_volver">
    <button class="btn_inicio"><a href="/">Volver</a></button>
  </div>

  <!----   Comieza footer     ----->
  <%- include('partials/footer.ejs') %>

  <script src="js/main.js"></script>

</body>

</html>