<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

            <section class="banner_sn">
               <img src="/img/imgVarios/home-img.jpeg" alt=""> 
                <div class="about-section">
                    <h1>Los artesanos del café</h1>
                </div>
            </section>
            <section class="about_history">
                <h1>Nuestra hostoria</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi ipsum voluptatum quas facilis
                    corrupti explicabo velit facere ratione nostrum dicta tempora consectetur, iste eum tenetur! Quis
                    cumque laudantium commodi vero.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ipsum numquam praesentium ex
                    recusandae corrupti eveniet? Dicta labore exercitationem eligendi, ipsa, mollitia amet sit
                    blanditiis ullam assumenda rem iusto nostrum.</p>
            </section>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="/img/imgVarios/hombre_moliendoi.jpeg" alt="Moliendo café" style="width:100%">
                        <div class="container_sn">
                            <h2>Nombre</h2>
                            <p class="title">Puesto</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                            <p>jane@example.com</p>
                            <a href="/contact" class="btn"
                                style="display: inline-block; text-align: center; width: 100%; font-size: 1rem;">Contact</a>
                        </div>
                    </div>
                </div>



                <div class="column">
                    <div class="card">
                        <img src="/img/imgVarios/mesera.jpg" alt="mesera" style="width:100%">
                        <div class="container_sn">
                            <h2>Nombre</h2>
                            <p class="title">Puesto</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                            <p>mike@example.com</p>
                            <a href="/contact" class="btn"
                                style="display: inline-block; text-align: center; width: 100%; font-size: 1rem;">Contact</a>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="/img/imgVarios/camarera2.jpg" alt="camarera" style="width:100%">
                        <div class="container_sn">
                            <h2>Nombre</h2>
                            <p class="title">Puesto</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                            <p>john@example.com</p>
                            <a href="/contact" class="btn"
                                style="display: inline-block; text-align: center; width: 100%; font-size: 1rem;">Contact</a>
                        </div>
                    </div>
                </div>
            </div>


            <section class="about_history">

                <img class="nuestro_cafe" src="/img/imgVarios/nuestro-cafe-mobile.png" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi ipsum voluptatum quas facilis
                    corrupti explicabo velit facere ratione nostrum dicta tempora consectetur, iste eum tenetur! Quis
                    cumque laudantium commodi vero.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ipsum numquam praesentium ex
                    recusandae corrupti eveniet? Dicta labore exercitationem eligendi, ipsa, mollitia amet sit
                    blanditiis ullam assumenda rem iusto nostrum.</p>
            </section>




            <%- include('partials/footer.ejs') %>
    </body>

</html>