<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

        <section class="banner_sn">
            <img src="/img/imgVarios/coffee_portada.jpg" style="width: 100%;" alt="">
        
            <div class="about-section">
                <h1>Los artesanos del café</h1>
               <!-- <p>HOLA! Somos los mienbros del equipo.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores inventore accusantium molestiae laudantium temporibus voluptate nemo id, maxime optio dolorum nulla qui, expedita culpa excepturi. Modi fuga illum minus iure!.</p>-->
            </div>
        </section>
            <h2 style="text-align:center">El equipo</h2>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="/img/imgVarios/hombre_moliendoi.jpeg" alt="Jane" style="width:100%">
                        <div class="container">
                            <h2>Nombre</h2>
                            <p class="title">Puesto</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                            <p>jane@example.com</p>
                            <a href="/contact" class="btn"
                                style="display: inline-block; text-align: center; width: 100%; font-size: 1rem;">Contact</a>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="/img/imgVarios/mesera.jpg" alt="Mike" style="width:100%">
                        <div class="container">
                            <h2>Nombre</h2>
                            <p class="title">Puesto</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                            <p>mike@example.com</p>
                            <a href="/contact" class="btn"
                                style="display: inline-block; text-align: center; width: 100%; font-size: 1rem;">Contact</a>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="/img/imgVarios/camarera2.jpg" alt="John" style="width:100%">
                        <div class="container">
                            <h2>Nombre</h2>
                            <p class="title">Puesto</p>
                            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                            <p>john@example.com</p>
                            <a href="/contact" class="btn"
                                style="display: inline-block; text-align: center; width: 100%; font-size: 1rem;">Contact</a>
                        </div>
                    </div>
                </div>
            </div>




            <%- include('partials/footer.ejs') %>
    </body>

</html>