<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>

<body class="user">
    
    </section>
    <section class="user_f" id="user_f"> 
        <form class="user_form" action="" method="POST" id="form">
            <div class="form">
                <h1 class="registro">Registrarse</h1>
                <div class="grupo">
                    <input type="text" name="" id="name"><span class="barra"></span>
                    <label for="">Nombre</label>
                </div>
                <div class="grupo">
                    <input type="email" name="" id="email"><span class="barra"></span>
                    <label for="">Email</label>
                </div>
                <div class="grupo">
                    <input type="password" name="" id="password"><span class="barra"></span>
                    <label for="">Password</label>
                </div>
                <div><h3>
                     ¿Aun no estas registrado?</h3><button type="#">Registrarse</button>
                </div>
                <button class="btn_user" type="submit">Registrarse</button>
                <p class="warnings" id="warnings"></p>


            </div>

        </form>
    </section>

    <script src="/js/user.js"></script>
</body>

</html>