<!DOCTYPE html>
<html lang="es">

 <%- include('partials/head.ejs') %>
<body>
  <%- include('partials/header.ejs') %>

    <h4>Tu carrito -Arte café</h4>
    
    <article class="arti">
        <p>Chemex</p>
        <div class="parte1">
            <img src="/img/imgProductos/chemex.webp" alt="Chemex" title="Chemex">
            <input type="number" value="1">
        </div>
        <div class="parte2">
            <p>Precio</p>
            <p>$9500</p>
        </div>
    
    </article>
    
    <article class="arti">
        <div class="parte3">
            <p>Total con envío</p>
            <p>$10000</p>
        </div>
        <div class="parte4">
            <a href="">Elegir más productos</a>
            <button type="button"><a href="formulario">Comprar</a></button>
        </div>
        <div class="Eliminar">
            <button type="reset"><a href="">eliminar</a></button>
        </div>
    </article>


    <%- include('partials/footer.ejs') %>
</body>
</html>